In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import yfinance as yf

In [2]:
labelDF = pd.read_csv("Labeled_11-01-2024_GICS.csv")

In [3]:
labelDF.head()

,No.,Symbol,Company Name,Market Cap,Revenue,Sector,Labels
0,1,AAPL,Apple Inc.,"3,381.32B",391.04B,Technology,9
1,2,NVDA,NVIDIA Corporation,"3,328.48B",96.31B,Technology,9
2,3,MSFT,Microsoft Corporation,"3,060.49B",254.19B,Technology,9
3,4,GOOG,Alphabet Inc.,"2,103.30B",339.86B,Communication Services,0
4,5,GOOGL,Alphabet Inc.,"2,093.09B",339.86B,Communication Services,0

In [4]:
labelDF.columns

Index(['No. ', 'Symbol ', 'Company Name ', 'Market Cap ', 'Revenue ',
       'Sector ', 'Labels'],
      dtype='object')

In [5]:
syms = list(labelDF["Symbol "])

In [6]:
data = yf.download(syms, start="2024-10-01", end="2024-11-01", interval="60m", group_by="ticker")

[*********************100%***********************]  503 of 503 completed

In [7]:
fails = []
for sym in syms:
    try:
        tempdf = data[sym]
        filename = sym + "_2024-10.csv"
        tempdf.to_csv("Data/" + filename)
    except:
        fails.extend([sym])

In [8]:
fails

[]