In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
labelDF = pd.read_csv("11-01-2024_GICS.csv")

In [3]:
labelDF.replace({"BRK.B":"BRK-B","BF.B":"BF-B"}, inplace=True)

In [4]:
labelDF.head()

,No.,Symbol,Company Name,Market Cap,Revenue,Sector
0,1,AAPL,Apple Inc.,"3,381.32B",391.04B,Technology
1,2,NVDA,NVIDIA Corporation,"3,328.48B",96.31B,Technology
2,3,MSFT,Microsoft Corporation,"3,060.49B",254.19B,Technology
3,4,GOOG,Alphabet Inc.,"2,103.30B",339.86B,Communication Services
4,5,GOOGL,Alphabet Inc.,"2,093.09B",339.86B,Communication Services

In [5]:
labelDF.columns

Index(['No. ', 'Symbol ', 'Company Name ', 'Market Cap ', 'Revenue ',
       'Sector '],
      dtype='object')

In [6]:
secs = list(labelDF["Sector "])

In [7]:
Secs = list(np.unique(secs))
Secs

['Communication Services',
 'Consumer Discretionary',
 'Consumer Staples',
 'Energy',
 'Financials',
 'Healthcare',
 'Industrials',
 'Materials',
 'Real Estate',
 'Technology',
 'Utilities']

In [8]:
labels = [i for i in range(len(Secs))]

In [9]:
dic = {Secs[i]:i for i in labels}
dic

{'Communication Services': 0,
 'Consumer Discretionary': 1,
 'Consumer Staples': 2,
 'Energy': 3,
 'Financials': 4,
 'Healthcare': 5,
 'Industrials': 6,
 'Materials': 7,
 'Real Estate': 8,
 'Technology': 9,
 'Utilities': 10}

In [10]:
Labels = [dic[sec] for sec in secs]

In [11]:
labelDF["Labels"] = Labels

In [12]:
labelDF.head()

,No.,Symbol,Company Name,Market Cap,Revenue,Sector,Labels
0,1,AAPL,Apple Inc.,"3,381.32B",391.04B,Technology,9
1,2,NVDA,NVIDIA Corporation,"3,328.48B",96.31B,Technology,9
2,3,MSFT,Microsoft Corporation,"3,060.49B",254.19B,Technology,9
3,4,GOOG,Alphabet Inc.,"2,103.30B",339.86B,Communication Services,0
4,5,GOOGL,Alphabet Inc.,"2,093.09B",339.86B,Communication Services,0

In [13]:
labelDF.to_csv("Labeled_11-01-2024_GICS.csv", index=False)